<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/layout(title='触发事件',nav='1:5',
      cssPaths='/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')">
<meta http-equiv="refresh" content="10">
<div class="content-wrapper" th:fragment="main-content">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">通知列表</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form class="row mb-lg-3" id="client_form">
                            <div class="form-group">
                                <input type="text" readonly class="form_datetime form-control" placeholder="起始时间"
                                       id="beginTime"
                                       name="beginTime">
                            </div>
                            <div class="form-group">
                                <input type="text" readonly class="form_datetime form-control" placeholder="结束时间"
                                       id="endTime" name="endTime">
                            </div>
                            <div class="col-md-2">
                                <select class="custom-select" type="text" placeholder="事件等级" id="grade" name="grade">
                                    <option value="">全部</option>
                                    <option value="0">未分类</option>
                                    <option value="1">信息</option>
                                    <option value="2">一般</option>
                                    <option value="3">警告</option>
                                    <option value="4">严重</option>
                                    <option value="5">灾难</option>
                                </select>
                            </div>
                            <div class="col-md-2 ml-5">
                                <button type="button" class="btn btn-danger col-md-3" onclick="clientReset()"><i
                                        class="fa fa-undo"></i></button>
                                <button type="button" class="btn btn-primary col-md-3" onclick="clientSearch()"><i
                                        class="fa fa-search"></i></button>
                            </div>
                        </form>

                        <table id="event_table" class="table table-bordered table-hover dataTable">
                            <thead>
                            <tr>
                                <th>事件ID</th>
                                <th>触发器名称</th>
                                <th>事件等级</th>
                                <th>触发时间</th>
                                <th>事件描述</th>
                                <th>处理人</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                    </div>
                    <!-- ./card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>

    </section>
    <!-- /.content -->
</div>

<footer th:fragment="js-footer">
    <script th:src="@{/plugins/dataTable/jquery.dataTables.min.js}"></script>
    <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/datetimePicker/js/bootstrap-datetimepicker.js}"></script>
    <script th:src="@{/plugins/datetimePicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script th:src="@{/plugins/moment/moment.min.js}"></script>
    <script th:src="@{/plugins/websocket/sockjs.min.js}"></script>
    <script th:src="@{/plugins/websocket/stomp.min.js}"></script>
    <script th:src="@{/js/event/event.js}"></script>
    <script th:src="@{/js/event/eventDate.js}"></script>
</footer>

</html>