<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/layout(title='触发器',nav='1:4',
      cssPaths='/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')">
<div class="content-wrapper" th:fragment="main-content">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">触发器列表</h3>
                    <h3 class="card-title" align="left" id="button">
                        <button>添加触发器</button>
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <form class="row mb-lg-3" id="client_form">
                        <div class="col-md-2">
                            <input class="form-control" type="text" placeholder="触发器名称" id="triggerName"
                                   name="triggerName">
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" type="text" placeholder="级别" id="grade" name="grade">
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" type="text" placeholder="设备" id="equip" name="equip">
                        </div>
                        <div class="col-md-2">

                            <input class="form-control" type="text" placeholder="数据项" id="data" name="data">
                        </div>
                        <div class="col-md-2 ml-5">
                            <button type="button" class="btn btn-danger col-md-3" onclick="clientReset()"><i
                                    class="fa fa-undo"></i></button>
                            <button type="button" class="btn btn-primary col-md-3" onclick="clientSearch()"><i
                                    class="fa fa-search"></i></button>
                        </div>
                    </form>

                    <table id="trigger_table" class="table table-bordered table-hover dataTable">

                        <thead>
                        <tr>
                            <th>设备ID</th>
                            <th>设备名称</th>
                            <th>状态</th>
                            <th>上线时间</th>
                            <th>下线时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <!-- ./card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="popup"
             style="width:500px;height:400px ;background-color:#f3f3f3;border:2px solid #dadde2;margin-left:260px;position:relative"
             id="id">

            <div class="popup-head">
                <!-- 标题 -->
                <div class="popup-head title" style="text-align:center;margin-top:-20px">
                    <h2>触发器</h2>
                </div>

            </div>

            <div class="popup-body" style="margin-left:35px;width:90%;padding:0px;">
                <div class="popup-body main">
                    <ul class="popup-body list" style="list-style:none">
                        <li style="margin-top:6px;">触发器名称 : <input class="" type="text" placeholder="触发器名称"
                                                                   id="creatTriggerName"
                                                                   name="createTriggerName"
                                                                   style="width:190px;height:30px"></li>
                        <li style="margin-top:6px;">
                            触发器级别 : <select class=" " type="text" placeholder="触发器级别" id="createGrade"
                                            name="createGrade" style="width:190px;height:30px">
                            <option value="0">未分类</option>
                            <option value="1">信息</option>
                            <option value="2">一般</option>
                            <option value="3">警告</option>
                            <option value="4">严重</option>
                            <option value="5">灾难</option>
                        </select>
                        </li>
                        <li style="margin-top:6px;">
                            触 发 设 备 : <select class="" type="text" placeholder="设备" id="createEquip"
                                              name="createEquip" style="width:190px;height:30px">
                        </select>

                        </li>
                        <li style="margin-top:6px;">
                            触发数据项 : <select class="" type="text" placeholder="设备" id="createData"
                                            name="createData" style="width:190px;height:30px">
                        </select>
                        </li>
                        <li style="margin-top:6px;">
                            触发值区域 : <input class="" type="text" placeholder="较小值" id="leValue" name="leValue"
                                           style="width:190px;height:30px"><br>
                            <input class="form-control" type="text" placeholder="较大值" id="geValue" name="geValue"
                                   style="width:190px;height:30px;margin-left:93px;margin-top:6px">
                        </li>
                        <li style="margin-top:6px;">
                            触发值区域 : <input class="" type="text" placeholder="描述" id="createDesc" name="createDesc"
                                           style="width:190px;height:30px"><br>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="popup-foot" style="margin-left:180px;margin-top:10px">
                <button type="button" class="btn btn-danger col-md-3" onclick="addTrigger()"
                        style="width:80px;height:30px"><i
                        class="fa fa-undo"></i>添加
                </button>
                <button type="button" class="btn btn-primary col-md-3" onclick="cancelTrigger()"
                        style="width:80px;height:30px"><i
                        class="fa fa-search"></i>删除
                </button>
            </div>


        </div>

    </section>
    <!-- /.content -->
</div>
<footer th:fragment="js-footer">
    <script th:src="@{/plugins/dataTable/jquery.dataTables.min.js}"></script>
    <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/moment/moment.min.js}"></script>
    <script th:src="@{/plugins/websocket/sockjs.min.js}"></script>
    <script th:src="@{/plugins/websocket/stomp.min.js}"></script>
    <script th:src="@{/js/trigger/trigger.js}"></script>
</footer>

</html>