<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/layout(title='触发器',nav='1:4',
      cssPaths='/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')">
<div class="content-wrapper" th:fragment="main-content">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">触发器列表</h3>
                    <h3 class="card-title" align="left">添加触发器</h3>
                </div>
                <div class="">

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <form class="row mb-lg-3" id="client_form">
                        <div class="col-md-2">
                            <input class="form-control" type="text" placeholder="触发器名称" id="triggerName"
                                   name="triggerName">
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" type="text" placeholder="级别" id="grade" name="grade">
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" type="text" placeholder="设备" id="equip" name="equip">
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" type="text" placeholder="数据项" id="data" name="data">
                        </div>
                        <div class="col-md-2 ml-5">
                            <button type="button" class="btn btn-danger col-md-3" onclick="clientReset()"><i
                                    class="fa fa-undo"></i></button>
                            <button type="button" class="btn btn-primary col-md-3" onclick="clientSearch()"><i
                                    class="fa fa-search"></i></button>
                        </div>
                    </form>

                    <table id="trigger_table" class="table table-bordered table-hover dataTable">

                        <thead>
                        <tr>
                            <th>设备ID</th>
                            <th>设备名称</th>
                            <th>状态</th>
                            <th>上线时间</th>
                            <th>下线时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
                <!-- ./card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->

    </section>
    <!-- /.content -->
</div>

<footer th:fragment="js-footer">
    <script th:src="@{/plugins/dataTable/jquery.dataTables.min.js}"></script>
    <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/moment/moment.min.js}"></script>
    <script th:src="@{/plugins/websocket/sockjs.min.js}"></script>
    <script th:src="@{/plugins/websocket/stomp.min.js}"></script>
    <script th:src="@{/js/trigger/trigger.js}"></script>
</footer>

</html>