<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/css::head(${title},${cssPaths})"></head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            <div th:replace="layout/navbar"></div>
            <div th:replace="layout/sidebar::navbar(${nav})"></div>
            <div th:replace="::main-content"></div>
            <footer class="main-footer">
                <strong>Copyright &copy; 2020
                    <a href="#">H.Y</a>
                </strong>
                All rights reserved.
                <div class="float-right d-none d-sm-inline-block">
                    <b>Version</b>
                    0.0.1
                </div>
            </footer>
            <div class="control-sidebar-bg"></div>
        </div>
        <section th:replace="layout/js"></section>
        <footer th:replace="::js-footer"></footer>
    </body>
</html>
