<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cit.its.mms.display.dao.EventMapper">

    <select id="selectDetailByFactors"
            resultType="com.cit.its.mms.display.vo.EventDetailVO">
        select me.event_id as event_id, me.createTime as
        createTime,mt.trigger_name as event_name,
        mt.grade as grade, mt.equip as equip, mt.data as
        data, mt.desc as desc,me.deaL_no as deal_no
        from mqtt_trigger mt, mqtt_event me where mt.id =
        me.trigger_id
        <if test="event_name ! = null">
            and mt.trigger_name like '%${event_name}%'
        </if>
        <if test="grade ! = 0">
            and mt.grade = ${grade}
        </if>
        <if test="equip != null">
            mt.equip = ${equip}
        </if>
        <if test="data!=null">
            mt.data = ${data}
        </if>
        <if test="beginTime lt; endTime">
            and me.createTime between ${beginTime} and
            ${endTime}
        </if>
        order by me.createTime limit ${page}*15,(${page}+1)
        * 15
    </select>

</mapper>
