<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cit.its.mms.display.dao.TriggerMapper">

    <insert id="createTrigger"></insert>

    <update id="confirmTrigger"></update>
</mapper>