<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cit.its.shipping.front.dao.TriggerMapper">

    <insert id="createTrigger">
        create trigger ${trigger_name }
        after insert on ${equip }
        for each row
        begin
        if NEW.${value_name} > ${le_value } and NEW.${value_name} &lt; ${ge_value } then
         insert into msg_event (trigger_name,create_time,grade,event_desc) values (${trigger_name},CURRENT_TIMESTAMP(),${grade},${desc});
        end if;
        end;
    </insert>
    <!--
    CREATE TRIGGER test_water AFTER INSERT ON msg_water_level FOR EACH ROW
    BEGIN
        IF NEW.value <300	AND NEW.value >200 then
            insert into `event` ( trigger_id, createTime, grade, event_desc) VALUES (4,CURRENT_TIMESTAMP(),1,'水位过高');
        END IF;
    END

    -->
    <update id="replaceTrigger">

    </update>
    <delete id="dropTrigger">
        drop trigger if exit ${trigger_name }
    </delete>
</mapper>