<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cit.its.shipping.front.dao.TriggerMapper">

    <insert id="createTrigger">
        create trigger ${trigger_name }
        after insert on ${equip }
        for each row
        begin
        <if test="relation == 'eq">
            when new.${value_name} = ${value }
        </if>
        <if test="relation == 'ne">
            when new.${value_name} != ${value }
        </if>
        <if test="relation == 'gt">
            when new.${value_name} > ${value }
        </if>
        <if test="relation == 'lt">
            when new.${value_name} < ${value }
        </if>
        <if test="relation == 'ge">
            when new.${value_name} >= ${value }
        </if>
        <if test="relation == 'le">
            when new.${value_name} <= ${value }
        </if>

        insert into event (trigger_id,createTime) values (${trigger_name},new.time)
        end;
    </insert>

    <update id="replaceTrigger">

    </update>
    <delete id="dropTrigger">
        drop trigger if exit ${trigger_name }
    </delete>
</mapper>